.search input {
  font-size: 18px;
  padding: 15px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 40%;
  height: 30px;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.searchInput {
  display: flex;
  justify-content: center;
  margin-top: 82px;
  width: 100%;
}

.searchIcon {
  font-size: 32px;
}

.dataResult {
  margin-right: 30px;
  width: 40%;
  padding: 12px 24px;
  height: 200px;
  background-color: #fff;
  overflow: hidden;
  border: solid 2px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}